* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background: -webkit-linear-gradient(top, #1A5AE0, #03D2F4);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {color: gold;}